body {
    font-family: 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    font-size: 0.9rem;
}

select {
    padding: 8px;
}

input {
    padding: 8px;
}

a, a:visited {
    color: dodgerblue;
}

#top-bar {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    top: 0;
    position: sticky;
    margin-bottom: 8px;
    background-color: white;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-row .pad {
    padding: 12px;
}

.header-row-top {
    font-size: 1.2rem;
    justify-content: space-between;
    background-color: dodgerblue;
    color: white;
}

#main-content {
    margin-bottom: 60px;
}

#bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    background-color: white;
    border-top: 1px solid lightgray;
}

#credits-container {
    position: fixed;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#credits {
    min-width: 300px;
    max-width: 50%;
    background-color: lightgray;
    border-radius: 5px;
    padding: 12px;
}

.group-header {
    padding: 12px;
    margin: 22px 12px 12px 12px;
    background-color: beige;
    font-weight: 500;
}

.group-detail {
    margin: 12px;
}

.today {
    color: red;
}

.past {
    color: lightgray;
}

.btn {
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: none;
    outline: none;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    filter: brightness(2);
    cursor: pointer;
}

.btn-dark-mode {
    background-image: url(/usr/share/icons/suru/actions/scalable/night-mode.svg);
}

.btn-light-mode {
    background-image: url(/usr/share/icons/suru/status/scalable/display-brightness-min.svg);
}

.btn-save {
    background-image: url(/usr/share/icons/suru/actions/scalable/document-save.svg);
}

.btn-question {
    background-image: url(/usr/share/icons/suru/status/scalable/dialog-question-symbolic.svg);
}

.btn-ok {
    padding: 8px 22px 8px 22px;
    background-color: darkolivegreen;
    color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
}